:root {
  --branding-color: rgba(59, 214, 124, 0.425);
  --secondary-color: #c0ee9736;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: rgba(0, 0, 0, 0.692);
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 96px;
  line-height: 1.5;
}

h2 {
  font-size: 64px;
}

h4 {
  font-size: 44px;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.navbar {
  background-color: rgb(193, 255, 111);
  filter: blur(50px);
  backdrop-filter: blur(5px);
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a:hover {
  color: var(--branding-color) !important;
}

.navbar:hover {
  filter: blur(0);
  transition: all 200ms ease-in-out;
  background-color: rgba(198, 255, 133, 0.425);
}

.nav-item {
  padding: 0 10px;
}

.active {
  font-weight: bold;
}

.hero {
  background: url(../img/1.jpg) fixed ;
  background-size: cover;
  text-align: center;
  padding: 120px 30px;
}

.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  color: #000000;
}

.hero h2 {
  font-family: var(--heading-font-family);
  font-weight: normal;
  line-height: 1.5;
  font-size: 24px;
}

.content-container {
  padding: 90px 20px;
  padding-bottom: 10px;
}

.content h1 {
  font-size: 52px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-size: 24px;
  line-height: 1.5;

  font-family: var(--default-font-family);
}

.content p {
  font-size: 14px;
}

.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  backdrop-filter: blur(2px);
}

#contact-me-button:hover {
  color: rgb(255, 255, 255);
  transition: all 150ms ease-in-out;
}

.btn-branding-outline {
  color: var(--branding-color);
  border: 2px solid var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  border-radius: 4px;
}

.btn-branding-outline:hover {
  color: white;
  background: var(--branding-color);
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: var(--branding-color)
}


.project-description {
  padding: 0px 60px;
}

.project-description h2{
font-size: 38px;
}

footer {
  margin: 60px 0;
}

footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}

footer .contact-box p {
  margin: 0;
}

footer .email-link {
  text-decoration: none;
  color: #000000;
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  color: var(--branding-color);
  background-color: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 150ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: var(--branding-color);
}

.col-3 {
  flex: 0 0 auto;
  width: 25%; 
  padding: 30px auto;
}

.center {
  text-align: center !important;
  margin: 0 auto;
  display: block;
 }

 .shadow {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%) !important;
}



@media (max-width: 900px) {
  h1,
  .content h1 {
    font-size: 52px;
    line-height: 56px;
  }

 
  .navbar {
    filter: blur(1px);
    background-color: transparent;
    backdrop-filter: blur(5px);
  }
  .content {
    text-align: center;
    padding: 0;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  
}

@media (max-width: 1000px) {
  
  .btn-branding {
    font-size: 14px;
  }

}